In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel('../dataset/data_selected_monthly_3year.xlsx')
data.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
data.head()

,fund_id,month1,month2,month3,month4,month5,month6,month7,month8,month9,...,month27,month28,month29,month30,month31,month32,month33,month34,month35,month36
0,HF0000000A,1.4415,1.4304,1.3496,1.2490,1.4078,1.3773,1.3133,1.2198,1.2364,...,1.3292,1.3375,1.2542,1.3246,1.2996,1.4682,1.7909,1.8193,1.6185,1.6907
1,HF0000000C,1.1906,1.1601,1.1421,0.9851,0.9438,0.9111,0.8719,0.7946,0.8076,...,0.8782,1.0012,0.8494,0.9242,0.9040,1.0277,1.1585,1.1059,1.0413,1.2284
2,HF0000000N,3.3233,3.3097,3.3440,3.1313,3.3610,3.2680,3.4650,3.2556,3.2312,...,3.8923,4.1101,3.5926,3.7577,3.9456,4.2542,4.8736,5.0386,5.2666,5.2526
3,HF00000018,0.8786,0.8528,0.8351,0.4956,0.5524,0.4974,0.5203,0.4435,0.4425,...,0.3994,0.4795,0.4338,0.4104,0.4270,0.4439,0.4956,0.4479,0.4379,0.4454
4,HF0000003L,2.5853,2.7118,2.7971,2.6288,2.7350,2.7204,2.8460,2.6374,2.5794,...,3.0692,3.1965,2.9423,3.1200,3.1883,3.5549,4.0480,4.2616,4.0798,4.5166

In [18]:
rtn_list =[]
for i in range(1,36):
    rtn_list.append('rtn'+str(i))

In [5]:
month_list = list(data.columns[1:])

In [8]:
month_list[1]

'month2'

In [10]:
for i in range(1,len(month_list)):
    data[month_list[i]] = data[month_list[i]]/data['month1']

In [11]:
data.head()

,fund_id,month1,month2,month3,month4,month5,month6,month7,month8,month9,...,month27,month28,month29,month30,month31,month32,month33,month34,month35,month36
0,HF0000000A,1.4415,0.992300,0.936247,0.866459,0.976622,0.955463,0.911065,0.846202,0.857718,...,0.922095,0.927853,0.870066,0.918904,0.901561,1.018522,1.242386,1.262088,1.122789,1.172875
1,HF0000000C,1.1906,0.974383,0.959264,0.827398,0.792710,0.765244,0.732320,0.667395,0.678313,...,0.737611,0.840921,0.713422,0.776247,0.759281,0.863178,0.973039,0.928859,0.874601,1.031749
2,HF0000000N,3.3233,0.995908,1.006229,0.942226,1.011344,0.983360,1.042638,0.979629,0.972287,...,1.171215,1.236753,1.081034,1.130713,1.187254,1.280113,1.466494,1.516144,1.584750,1.580537
3,HF00000018,0.8786,0.970635,0.950489,0.564079,0.628728,0.566128,0.592192,0.504780,0.503642,...,0.454587,0.545755,0.493740,0.467107,0.486000,0.505236,0.564079,0.509788,0.498407,0.506943
4,HF0000003L,2.5853,1.048930,1.081925,1.016826,1.057904,1.052257,1.100839,1.020152,0.997718,...,1.187174,1.236414,1.138088,1.206823,1.233242,1.375044,1.565776,1.648397,1.578076,1.747031

In [28]:
moment_list = ['moment1','moment2','moment3','moment4']

In [33]:
data['moment1'] = data[rtn_list].mean(axis=1)

In [34]:
for month in month_list:
    data.drop(month,axis=1,inplace = True)

In [36]:
data.head()

,fund_id,rtn1,rtn2,rtn3,rtn4,rtn5,rtn6,rtn7,rtn8,rtn9,...,rtn27,rtn28,rtn29,rtn30,rtn31,rtn32,rtn33,rtn34,rtn35,moment1
0,HF0000000A,-0.007700,-0.056488,-0.074541,0.127142,-0.021665,-0.046468,-0.071195,0.013609,-0.061064,...,0.006244,-0.062280,0.056131,-0.018874,0.129732,0.219793,0.015858,-0.110372,0.044609,0.007400
1,HF0000000C,-0.025617,-0.015516,-0.137466,-0.041925,-0.034647,-0.043025,-0.088657,0.016360,-0.078133,...,0.140059,-0.151618,0.088062,-0.021857,0.136836,0.127274,-0.045404,-0.058414,0.179679,0.004952
2,HF0000000N,-0.004092,0.010363,-0.063606,0.073356,-0.027670,0.060282,-0.060433,-0.007495,-0.100829,...,0.055957,-0.125909,0.045956,0.050004,0.078214,0.145597,0.033856,0.045251,-0.002658,0.015640
3,HF00000018,-0.029365,-0.020755,-0.406538,0.114609,-0.099566,0.046039,-0.147607,-0.002255,-0.160678,...,0.200551,-0.095308,-0.053942,0.040448,0.039578,0.116468,-0.096247,-0.022326,0.017127,-0.011471
4,HF0000003L,0.048930,0.031455,-0.060169,0.040399,-0.005338,0.046170,-0.073296,-0.021991,-0.083120,...,0.041477,-0.079524,0.060395,0.021891,0.114983,0.138710,0.052767,-0.042660,0.107064,0.018271

In [41]:
for i in range(2,11):
    tmp_sum = 0
    for rtn in rtn_list:
        tmp_sum+=((data[rtn] - data['moment1'])**i)
    data['moment'+str(i)] = tmp_sum/35

In [44]:
for rtn in rtn_list:
    data.drop(rtn,axis=1,inplace = True)

In [45]:
data.to_csv('./dataset/moment10.csv')

# 对1-10阶矩数据进行聚类

In [70]:
# 标准化
moment_list = list(data.columns)[1:]
for moment in moment_list:
    data[moment] = (data[moment] - data[moment].mean())/data[moment].std()

In [86]:
data.moment6.describe()

count    6.780000e+02
mean    -1.037764e-17
std      1.000000e+00
min     -3.896314e-02
25%     -3.896282e-02
50%     -3.896206e-02
75%     -3.895486e-02
max      2.599940e+01
Name: moment6, dtype: float64

In [88]:
for i in range(7,11):
    data.drop('moment'+str(i),axis=1,inplace=True)

In [106]:
data

        fund_id   moment1   moment2   moment3   moment4   moment5   moment6
0    HF0000000A -1.138362 -0.173090 -0.059578 -0.045005 -0.040092 -0.038962
1    HF0000000C -1.308756 -0.038619 -0.057996 -0.044619 -0.040084 -0.038961
2    HF0000000N -0.564782 -0.226477 -0.068199 -0.045171 -0.040115 -0.038963
3    HF00000018 -2.451878  0.260470 -0.089294 -0.040914 -0.040457 -0.038920
4    HF0000003L -0.381645 -0.253566 -0.067248 -0.045261 -0.040113 -0.038963
..          ...       ...       ...       ...       ...       ...       ...
673  HF000045ET -0.296337 -0.227846 -0.063562 -0.045183 -0.040105 -0.038963
674  HF000045FL -1.009948 -0.345029 -0.065041 -0.045395 -0.040110 -0.038963
675  HF000045FO -1.009987 -0.345002 -0.065044 -0.045395 -0.040110 -0.038963
676  HF000045WO -0.604097 -0.221736 -0.062878 -0.045037 -0.040098 -0.038962
677  HF000045X0 -0.693470 -0.338250 -0.064215 -0.045377 -0.040109 -0.038963

[678 rows x 7 columns]

In [12]:
data2 = data.copy(deep=True)

In [15]:
data2.drop('month1',axis=1,inplace=True)

In [16]:
#spectral
from sklearn.cluster import SpectralClustering
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import Birch
from sklearn.cluster import MeanShift
from sklearn.cluster import OPTICS
from sklearn.mixture import GaussianMixture
from sklearn.cluster import DBSCAN
X = data2.drop(['fund_id'],axis=1)
y_pred = KMeans(n_clusters=20).fit_predict(X)
data2['Kmeans_nav'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = SpectralClustering(n_clusters=20,affinity='sigmoid').fit_predict(X)
data2['Spectral_nav'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = DBSCAN(eps=0.05,min_samples=3).fit_predict(X)
data2['DBSCAN_nav'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = AgglomerativeClustering(n_clusters=20,linkage='ward').fit_predict(X)
data2['Hierarchical_nav'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = Birch(n_clusters=20).fit_predict(X)
data2['Birch_nav'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = MeanShift().fit_predict(X)
data2['MeanShift_nav'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = OPTICS().fit_predict(X)
data2['OPTICS_nav'] = pd.Series(y_pred)

X = data2.drop(['fund_id'],axis=1)
y_pred = GaussianMixture(n_components=20).fit_predict(X)
data2['GaussianMixture_nav'] = pd.Series(y_pred)

In [24]:
for i in range(1,len(month_list)):
    data2.drop(month_list[i],inplace=True,axis=1)

In [26]:
data2.drop('fund_id',axis=1,inplace=True)

In [155]:
data2.to_csv('./dataset/clusters_base_on_moment.csv')

In [27]:
data2

,Kmeans_nav,Spectral_nav,DBSCAN_nav,Hierarchical_nav,Birch_nav,MeanShift_nav,OPTICS_nav,GaussianMixture_nav
0,11,16,-1,3,5,0,0,13
1,6,10,-1,13,3,0,25,16
2,0,8,0,9,10,0,-1,5
3,6,8,-1,13,3,0,25,16
4,0,1,-1,11,18,0,22,4
...,...,...,...,...,...,...,...,...
673,13,8,-1,18,11,0,-1,8
674,11,1,-1,0,6,0,8,3
675,11,8,-1,5,14,0,-1,2
676,0,17,-1,8,16,0,18,18
677,0,8,-1,9,10,0,-1,5

In [21]:
data = pd.read_csv('../dataset/nav_moment_clusters.csv')

In [28]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [29]:
data

,fund_id,month1,month2,month3,month4,month5,month6,month7,month8,month9,...,moment5,moment6,Kmeans,Spectral,DBSCAN,Hierarchical,Birch,MeanShift,OPTICS,GaussianMixture
0,HF0000000A,1.4415,1.4304,1.3496,1.2490,1.4078,1.3773,1.3133,1.2198,1.2364,...,-0.040092,-0.038962,7,0,-1,3,5,1,-1,4
1,HF0000000C,1.1906,1.1601,1.1421,0.9851,0.9438,0.9111,0.8719,0.7946,0.8076,...,-0.040084,-0.038961,7,0,-1,3,5,1,1,4
2,HF0000000N,3.3233,3.3097,3.3440,3.1313,3.3610,3.2680,3.4650,3.2556,3.2312,...,-0.040115,-0.038963,18,16,0,2,3,0,35,1
3,HF00000018,0.8786,0.8528,0.8351,0.4956,0.5524,0.4974,0.5203,0.4435,0.4425,...,-0.040457,-0.038920,10,19,-1,13,2,0,-1,14
4,HF0000003L,2.5853,2.7118,2.7971,2.6288,2.7350,2.7204,2.8460,2.6374,2.5794,...,-0.040113,-0.038963,2,0,1,8,18,1,13,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,HF000045ET,0.9620,0.9750,1.0560,0.9280,0.9310,0.9260,0.9640,0.9210,0.9340,...,-0.040105,-0.038963,2,0,1,8,18,1,-1,8
674,HF000045FL,1.2445,1.2845,1.2535,1.2231,1.1295,1.1147,1.1303,1.0859,1.0297,...,-0.040110,-0.038963,7,0,7,0,9,1,5,9
675,HF000045FO,1.2415,1.2814,1.2505,1.2201,1.1267,1.1120,1.1276,1.0833,1.0272,...,-0.040110,-0.038963,7,0,7,0,9,1,5,9
676,HF000045WO,1.9241,1.9420,1.9473,1.8442,1.8416,1.7905,1.7538,1.7368,1.7338,...,-0.040098,-0.038962,18,16,0,2,3,0,-1,18
677,HF000045X0,1.1107,1.1023,1.0677,1.0494,1.0291,1.0233,1.0259,1.0102,0.9927,...,-0.040109,-0.038963,18,16,0,2,3,0,42,6

In [30]:
data3 = pd.concat([data,data2],axis=1)

In [31]:
data3.head()

,fund_id,month1,month2,month3,month4,month5,month6,month7,month8,month9,...,OPTICS,GaussianMixture,Kmeans_nav,Spectral_nav,DBSCAN_nav,Hierarchical_nav,Birch_nav,MeanShift_nav,OPTICS_nav,GaussianMixture_nav
0,HF0000000A,1.4415,1.4304,1.3496,1.2490,1.4078,1.3773,1.3133,1.2198,1.2364,...,-1,4,11,16,-1,3,5,0,0,13
1,HF0000000C,1.1906,1.1601,1.1421,0.9851,0.9438,0.9111,0.8719,0.7946,0.8076,...,1,4,6,10,-1,13,3,0,25,16
2,HF0000000N,3.3233,3.3097,3.3440,3.1313,3.3610,3.2680,3.4650,3.2556,3.2312,...,35,1,0,8,0,9,10,0,-1,5
3,HF00000018,0.8786,0.8528,0.8351,0.4956,0.5524,0.4974,0.5203,0.4435,0.4425,...,-1,14,6,8,-1,13,3,0,25,16
4,HF0000003L,2.5853,2.7118,2.7971,2.6288,2.7350,2.7204,2.8460,2.6374,2.5794,...,13,2,0,1,-1,11,18,0,22,4

In [32]:
data3.to_csv('../dataset/nav_moment_clusters2.csv')