In [1]:
import numpy as np
import pandas as pd
import akshare as ak

# 交易记录数据

In [2]:
file_list = ['202005信用.csv','202006信用.csv','202007信用.csv'
            ,'202008信用.csv','202009信用.csv','202010信用.csv']

# 原数据拼接和处理

In [18]:
data = pd.read_csv('../交易记录/'+file_list[0],error_bad_lines=False)
for i in range(1,len(file_list)):
    tmp = pd.read_csv('../交易记录/'+file_list[i],error_bad_lines=False)
    data = pd.concat([data,tmp],ignore_index=True)

b'Skipping line 14: expected 17 fields, saw 19\n'

In [28]:
data.head(10)

,日期,证券名称,委托编号,成交数量,成交均价,成交金额,佣金,印花税,过户费,发生金额,后资金额,股东帐户,备注,成交时间,成交编号,交易市场,Unnamed: 16
0,2020-05-15,起步转债,1696,630,100.660,0.0,0.00,0.0,0.0,0.00,0.00,E055938193,担保转入,15:00:01,51258,上海Ａ股,NaN
1,2020-05-15,奇精转债,1683,120,104.050,0.0,0.00,0.0,0.0,0.00,0.00,E055938193,担保转入,15:00:01,51259,上海Ａ股,NaN
2,2020-05-15,核能转债,1662,120,104.050,0.0,0.00,0.0,0.0,0.00,0.00,E055938193,担保转入,15:00:01,51260,上海Ａ股,NaN
3,2020-05-15,吉视转债,1654,180,102.860,0.0,0.00,0.0,0.0,0.00,0.00,E055938193,担保转入,15:00:01,51261,上海Ａ股,NaN
4,2020-05-15,小康转债,1649,150,100.330,0.0,0.00,0.0,0.0,0.00,0.00,E055938193,担保转入,15:00:01,51262,上海Ａ股,NaN
5,2020-05-15,海澜转债,1634,100,101.000,0.0,0.00,0.0,0.0,0.00,0.00,E055938193,担保转入,15:00:01,51263,上海Ａ股,NaN
6,2020-05-15,亚药转债,1722,310,88.285,0.0,0.00,0.0,0.0,0.00,0.00,0605569236,担保转入,17:00:01,1130,深圳Ａ股,NaN
7,2020-05-15,海印转债,1713,390,112.534,0.0,0.00,0.0,0.0,0.00,0.00,0605569236,担保转入,17:00:01,1131,深圳Ａ股,NaN
8,2020-05-15,迪龙转债,6150,210,101.555,0.0,0.00,0.0,0.0,0.00,0.00,0605569236,担保转入,17:00:01,1132,深圳Ａ股,NaN
9,2020-05-18,核能转债,7617,-120,104.000,12480.0,0.06,0.0,0.0,12479.94,12479.94,E055938193,证券卖出,13:03:48,1.08119e+07,上海Ａ股,NaN

In [22]:
data.rename(columns={'成交日期':'日期'},inplace=True)

In [29]:
data.rename(columns={'证券名称':'债券名称'},inplace=True)

In [49]:
data.rename(columns={'备注':'操作'},inplace=True)

In [63]:
data['日期'] = pd.to_datetime(data['日期'],format = '%Y%m%d')

In [120]:
name_ls = list(data['债券名称'].unique())

In [205]:
id_name_df

          id    name
0     688679    通源环境
1     688658    悦康药业
2     688560    明冠新材
3     688678     福立旺
4     688668    鼎通科技
...      ...     ...
5346  605399    晨光新材
5347  600918    中泰申购
5348  019547  16国债19
5349  511880    银华日利
5350  113039    N嘉泽转

[5351 rows x 2 columns]

In [215]:
for i in name_ls:
    if i not in list(id_name_df['name']):
        print(i,str(i))

nan nan

In [127]:
data[data['债券名称']=='16国债19']

,index,日期,债券名称,委托编号,成交数量,成交均价,成交金额,佣金,印花税,过户费,发生金额,后资金额,股东帐户,操作,成交时间,成交编号,交易市场,Unnamed: 16
199,210,2020-07-08,16国债19,17862,300,92.37,27711.00,0.14,0.0,0.0,-28079.35,283262.91,E055938193,利息总额:368.21,14:33:40,30015375,上海Ａ股,NaN
209,220,2020-07-09,16国债19,7952,150,92.06,13809.00,0.07,0.0,0.0,-13994.52,250024.91,E055938193,利息总额:185.45,10:24:44,14146409,上海Ａ股,NaN
275,289,2020-07-29,16国债19,6545,200,93.53,18706.00,0.09,0.0,0.0,-18989.19,110597.88,E055938193,利息总额:283.1,10:03:20,6256657,上海Ａ股,NaN
328,342,2020-08-21,16国债19,0,0,0.00,1062.75,0.00,0.0,0.0,1062.75,29705.39,E055938193,债券兑息;股东账号：E055938193;,16:00:00,0,上海Ａ股,NaN
365,381,2020-09-10,16国债19,3634,-400,92.40,36960.00,0.19,0.0,0.0,37031.48,138641.99,E055938193,利息总额:71.67,09:40:57,2.52874e+06,上海Ａ股,NaN
375,391,2020-09-11,16国债19,4488,-250,92.32,23080.00,0.12,0.0,0.0,23126.92,23188.40,E055938193,利息总额:47.04,10:07:38,5.4243e+06,上海Ａ股,NaN

生成证券代码

In [115]:
stock_df = ak.stock_em_xgsglb(market="上海主板")

In [117]:
stock_df[stock_df['股票简称']=='伊利股份']

Empty DataFrame
Columns: [股票代码, 股票简称, 申购代码, 发行总数, 网上发行, 顶格申购需配市值, 申购上限, 发行价格, 最新价, 首日收盘价, 申购日期, 中签号公布日, 中签缴款日期, 上市日期, 发行市盈率, 行业市盈率, 中签率, 询价累计报价倍数, 配售对象报价家数, 连续一字板数量, 涨幅, 每中一签获利]
Index: []

[0 rows x 22 columns]

In [142]:
#股票代码df
stock_df = ak.stock_em_xgsglb(market="科创板")
ls=["上海主板", "中小板", "创业板"]
for i in ls:
    stock_em_xgsglb_df = ak.stock_em_xgsglb(market=i)
    stock_df = pd.concat([stock_df,stock_em_xgsglb_df])

In [143]:
stock_df = stock_df[['股票代码','股票简称']]
stock_df.rename(columns = {'股票代码':'id','股票简称':'name'},inplace=True)
stock_df

          id  name
0     688679  通源环境
1     688658  悦康药业
2     688560  明冠新材
3     688678   福立旺
8     688668  鼎通科技
...      ...   ...
2452  300047  天源迪科
2453  300046  台基股份
2454  300045  华力创通
2455  300044  赛为智能
2456  300043  星辉娱乐

[2412 rows x 2 columns]

In [25]:
#债券代码df
bond_zh_cov_df = ak.bond_zh_cov()

In [91]:
bond_df = bond_zh_cov_df[['债券代码','债券简称']]
bond_df.rename(columns = {'债券代码':'id','债券简称':'name'},inplace = True)
bond_df

         id   name
0    127026   超声转债
1    113612   永冠转债
2    128140   润建转债
3    123082   北陆转债
4    123081   精研转债
..      ...    ...
494  110227   赤化转债
495  126006  07深高债
496  110971   恒源转债
497  110567   山鹰转债
498  110026   中海转债

[499 rows x 2 columns]

In [78]:
# 深圳df
shenzhen_df = pd.read_excel('/Users/lanruitong/Desktop/A股列表.xlsx')

In [87]:
shenzhen_df

,板块,公司全称,英文名称,注册地址,A股代码,A股简称,A股上市日期,A股总股本,A股流通股本,B股代码,B股 简 称,B股上市日期,B股总股本,B股流通股本,地 区,省 份,城 市,所属行业,公司网址
0,主板,平安银行股份有限公司,"Ping An Bank Co., Ltd.",广东省深圳市罗湖区深南东路5047号,000001,平安银行,1991-04-03,"19,405,918,198","19,405,752,081",NaN,NaN,NaN,0,0,华南,广东,深圳市,J 金融业,www.bank.pingan.com
1,主板,万科企业股份有限公司,"CHINA VANKE CO., LTD.",广东省深圳市盐田区大梅沙环梅路33号万科中心,000002,万 科Ａ,1991-01-29,"9,724,196,533","9,714,314,935",NaN,NaN,NaN,0,0,华南,广东,深圳市,K 房地产,www.vanke.com
2,主板,深圳国华网安科技股份有限公司,Shenzhen GuoHua Network Security Technology Co...,广东省深圳市福田区梅林街道梅都社区中康路126号卓越梅林中心广场（南区）卓悦汇B2206A,000004,国华网安,1990-12-01,"165,052,625","83,920,684",NaN,NaN,NaN,0,0,华南,广东,深圳市,I 信息技术,www.sz000004.cn
3,主板,深圳世纪星源股份有限公司,SHENZHEN FOUNTAIN CORPORATION,广东省深圳市罗湖区深南东路2017号华乐大厦3楼,000005,世纪星源,1990-12-10,"1,058,536,842","1,057,946,242",NaN,NaN,NaN,0,0,华南,广东,深圳市,N 公共环保,www.fountain.com.cn
4,主板,深圳市振业(集团)股份有限公司,"SHENZHEN ZHENYE(GROUP) CO.,LTD.",广东省深圳市罗湖区宝安南路2014号振业大厦A座31层,000006,深振业Ａ,1992-04-27,"1,349,995,046","1,349,995,046",NaN,NaN,NaN,0,0,华南,广东,深圳市,K 房地产,www.zhenye.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321,创业板,新乡市瑞丰新材料股份有限公司,"XINXIANG RICHFUL LUBE ADDITIVE CO., LTD.",河南省新乡市新乡县大召营镇（新获路北）,300910,瑞丰新材,2020-11-27,"150,000,000","35,565,988",NaN,NaN,NaN,0,0,华中,河南,新乡市,C 制造业,www.sinoruifeng.com
2322,创业板,浙江亿田智能厨电股份有限公司,"Zhejiang Entive Smart Kitchen Appliance Co., Ltd.",浙江省绍兴市嵊州市浦口街道浙锻路68号,300911,C亿田,2020-12-03,"106,666,700","25,289,938",NaN,NaN,NaN,0,0,华东,浙江,绍兴市,C 制造业,www.entive.com
2323,创业板,上海海融食品科技股份有限公司,"Shanghai Hi-Road Food Technology Co., Ltd.",上海市奉贤区金汇镇金斗路666号,300915,C海融,2020-12-02,"60,000,000","15,000,000",NaN,NaN,NaN,0,0,华东,上海,上海市,C 制造业,www.hiroad.sh.cn
2324,创业板,深圳朗特智能控制股份有限公司,"Shenzhen Longtech Smart Control Co., Ltd.",广东省深圳市宝安区新桥街道黄埔社区南洞东环路正风工业园厂房3栋一层至四层,300916,C朗特,2020-12-02,"42,580,000","10,650,000",NaN,NaN,NaN,0,0,华南,广东,深圳市,C 制造业,www.longtechcc.com
2325,创业板,益海嘉里金龙鱼粮油食品股份有限公司,"Yihai Kerry Arawana Holdings Co., Ltd",上海市中国(上海)自由贸易试验区博成路1379号15层,300999,金龙鱼,2020-10-15,"5,421,591,536","372,463,134",NaN,NaN,NaN,0,0,华东,上海,上海市,C 制造业,www.yihaikerry.net.cn

In [85]:
shenzhen_df['A股代码'] = shenzhen_df['A股代码'].apply(str)
ls = list(shenzhen_df['A股代码'])

for i in range(len(ls)):
    ls[i] = '0'*(6-len(ls[i]))+ls[i]
    if len(ls[i])==4:
        ls[i] ='00'+ls[i]
    if len(ls[i])==5:
        ls[i]='0'+ls[i]
shenzhen_df['A股代码'] = pd.Series(ls)

In [93]:
shenzhen_df = shenzhen_df[['A股代码','A股简称']]
shenzhen_df.rename(columns = {'A股代码':'id','A股简称':'name'},inplace=True)
shenzhen_df

          id   name
0     000001   平安银行
1     000002  万  科Ａ
2     000004   国华网安
3     000005   世纪星源
4     000006   深振业Ａ
...      ...    ...
2321  300910   瑞丰新材
2322  300911    C亿田
2323  300915    C海融
2324  300916    C朗特
2325  300999    金龙鱼

[2326 rows x 2 columns]

In [130]:
#上海df
shanghai_df = pd.read_csv('/Users/lanruitong/Desktop/上海A股列表(1).csv')

In [136]:
shanghai_df = shanghai_df[['代码','公司简称 ']]
shanghai_df.rename(columns = {'代码':'id','公司简称 ':'name'},inplace=True)
shanghai_df

          id    name
0     600000    浦发银行
1     600004    白云机场
2     600006    东风汽车
3     600007    中国国贸
4     600008    首创股份
...      ...     ...
1560  605358     立昂微
1561  605366    宏柏新材
1562  605369    拱东医疗
1563  605388    均瑶健康
1564  605399    晨光新材

[1565 rows x 2 columns]

In [144]:
stock_df.head()

       id  name
0  688679  通源环境
1  688658  悦康药业
2  688560  明冠新材
3  688678   福立旺
8  688668  鼎通科技

In [166]:
ls=list(shanghai_df['name'])
for i in range(len(ls)):
    ls[i] = ls[i][2:]
shanghai_df['name'] = pd.Series(ls)

In [167]:
shanghai_df[shanghai_df['name']=='工商银行']

         id  name
897  601398  工商银行

In [168]:
id_name_df = pd.concat([stock_df,bond_df,shenzhen_df,shanghai_df])

In [169]:
id_name_df.reset_index(inplace=True)

In [170]:
id_name_df.drop('index',axis=1,inplace=True)

In [171]:
id_name_df.drop_duplicates(inplace=True)

In [174]:
id_name_df.reset_index(inplace=True)

In [176]:
id_name_df.drop('index',axis=1,inplace=True)
id_name_df

          id  name
0     688679  通源环境
1     688658  悦康药业
2     688560  明冠新材
3     688678   福立旺
4     688668  鼎通科技
...      ...   ...
5342  605358   立昂微
5343  605366  宏柏新材
5344  605369  拱东医疗
5345  605388  均瑶健康
5346  605399  晨光新材

[5347 rows x 2 columns]

In [178]:
id_name_df = id_name_df.append([{'id':'600918','name':'中泰申购'},
                                {'id':'019547','name':'16国债19'},
                                {'id':'511880','name':'银华日利'},
                                {'id':'113039','name':'N嘉泽转'}],ignore_index=True)

In [179]:
id_name_df

          id    name
0     688679    通源环境
1     688658    悦康药业
2     688560    明冠新材
3     688678     福立旺
4     688668    鼎通科技
...      ...     ...
5346  605399    晨光新材
5347  600918    中泰申购
5348  019547  16国债19
5349  511880    银华日利
5350  113039    N嘉泽转

[5351 rows x 2 columns]

In [220]:
type(data.loc[73,'债券名称'])==float

False

In [203]:
id_name_df[id_name_df['name']=='起步转债'].id.iloc[0]

'113576'

In [221]:
#根据id_name_df生成fund_id
data['证券代码'] = np.nan
for i in range(len(data)):
    if type(data.loc[i,'债券名称'])!=float:
        data.loc[i,'证券代码'] = id_name_df[id_name_df['name'] == data.loc[i,'债券名称']].id.iloc[0]

In [226]:
data.to_csv('/Users/lanruitong/Desktop/data信用.csv')

In [239]:
data['操作'].unique()

array(['担保转入', '证券卖出', '融资买入', '证券买入', 'IPO新股发行T+2日缴款回冲', '新股IPO配售确认',
       '股息入账:海印转债127003（日终扣?17:00:01', '股息入账:久其转债128015（日终扣?17:00:01',
       '日终股息扣税下账', '债券兑息（日终扣税）;股东账号：E', '股息入账:中国建筑601668; 权益股?16:00:00',
       '融资卖出', '股息红利税差异化处理资金下账 证?00:00:00', '利息总额:368.21', '利息总额:185.45',
       '股息入账:德尔转债123011（日终扣?17:00:01', '利息总额:283.1',
       '股息入账:岭南转债128044（日终扣?17:00:01', '债券兑息;股东账号：E055938193;',
       '利息总额:71.67', '利息总额:47.04', '股息入账:中国石化600028; 权益股?16:00:00'],
      dtype=object)

In [240]:
data[data['操作']=='新股IPO配售确认']

,index,日期,债券名称,委托编号,成交数量,成交均价,成交金额,佣金,印花税,过户费,发生金额,后资金额,股东帐户,操作,成交时间,成交编号,交易市场,Unnamed: 16,证券代码
33,40,2020-05-25,中泰申购,1120,1000,4.38,4380.0,0.0,0.0,0.0,-4380.0,1551.06,E055938193,新股IPO配售确认,16:00:00,0,上海Ａ股,NaN,600918

1、删除无用记录：

In [50]:
set(list(data['操作']))

{'IPO新股发行T+2日缴款回冲',
 '债券兑息;股东账号：E055938193;',
 '债券兑息（日终扣税）;股东账号：E',
 '利息总额:185.45',
 '利息总额:283.1',
 '利息总额:368.21',
 '利息总额:47.04',
 '利息总额:71.67',
 '失败原因:违规重复;错误号:02',
 '担保转入',
 '新股IPO申购中签',
 '新股IPO配售确认',
 '新股IPO配售确认股份回冲',
 '新股配售扣款',
 '日终股息扣税下账',
 '股息入账:中国建筑601668; 权益股?16:00:00',
 '股息入账:中国石化600028; 权益股?16:00:00',
 '股息入账:久其转债128015（日终扣?17:00:01',
 '股息入账:岭南转债128044（日终扣?17:00:01',
 '股息入账:德尔转债123011（日终扣?17:00:01',
 '股息入账:海印转债127003（日终扣?17:00:01',
 '股息红利税差异化处理资金下账 证?00:00:00',
 '融资买入',
 '融资卖出',
 '证券买入',
 '证券卖出',
 '起始配号:100006466801',
 '起始配号:100008353624',
 '起始配号:100011998749',
 '起始配号:100013195316',
 '起始配号:100023722656',
 '起始配号:100045025646',
 '起始配号:100070376502',
 '起始配号:100076116836'}

In [46]:
del_list = ['失败原因:违规重复;错误号:02','起始配号:100006466801',
 '起始配号:100008353624',
 '起始配号:100011998749',
 '起始配号:100013195316',
 '起始配号:100023722656',
 '起始配号:100045025646',
 '起始配号:100070376502',
 '起始配号:100076116836',
 '新股IPO申购中签',
 '新股IPO配售确认股份回冲',
 '新股配售扣款',
           'IPO新股发行T+2日缴款回冲']

In [284]:
len(data)

538

In [51]:
for i in del_list:
    data.drop(index=(data.loc[data['操作']==i].index),inplace=True)

In [285]:
data.drop(index=(data.loc[data['操作']=='IPO新股发行T+2日缴款回冲'].index),inplace=True)

In [286]:
len(data)

537

In [287]:
data=data.reset_index()

In [288]:
set(list(data['操作']))

{'债券兑息;股东账号：E055938193;',
 '债券兑息（日终扣税）;股东账号：E',
 '利息总额:185.45',
 '利息总额:283.1',
 '利息总额:368.21',
 '利息总额:47.04',
 '利息总额:71.67',
 '担保转入',
 '新股IPO配售确认',
 '日终股息扣税下账',
 '股息入账:中国建筑601668; 权益股?16:00:00',
 '股息入账:中国石化600028; 权益股?16:00:00',
 '股息入账:久其转债128015（日终扣?17:00:01',
 '股息入账:岭南转债128044（日终扣?17:00:01',
 '股息入账:德尔转债123011（日终扣?17:00:01',
 '股息入账:海印转债127003（日终扣?17:00:01',
 '股息红利税差异化处理资金下账 证?00:00:00',
 '融资买入',
 '融资卖出',
 '证券买入',
 '证券卖出'}

'股息红利税差异化处理资金下账 证?00:00:00'
处理  成交数量赋值为0

In [244]:
data.loc[data[data['操作']=='股息红利税差异化处理资金下账 证?00:00:00'].index,
         '成交数量'] = 0

# 净值数据生成

把 银行转取、基金资金拨出 当作out

In [365]:
out_ls = [ '银行转取', '基金资金拨出',]

In [289]:
date_list = sorted(list(set(list(data['日期']))))
nav_data = pd.DataFrame(columns=['date','cash','in','out','hold_shares'])
nav_data

Empty DataFrame
Columns: [date, cash, in, out, hold_shares]
Index: []

In [290]:
nav_data['date'] = date_list

In [291]:
nav_data['in'] = 0.
nav_data['out'] = 0.

In [369]:
for i in range(len(date_list)):
    tmp_dataframe = data[data['日期']==date_list[i]]
    nav_data.loc[i,'out'] = sum(tmp_dataframe[
        tmp_dataframe.操作.isin(out_ls)]['发生金额'])

In [370]:
nav_data[:10]

        date cash   in       out hold_shares
0 2019-04-09  NaN  0.0      0.00         NaN
1 2019-04-10  NaN  0.0 -70778.52         NaN
2 2019-04-11  NaN  0.0      0.00         NaN
3 2019-04-12  NaN  0.0     -5.00         NaN
4 2019-04-16  NaN  0.0      0.00         NaN
5 2019-04-17  NaN  0.0  -2864.68         NaN
6 2019-04-18  NaN  0.0      0.00         NaN
7 2019-04-19  NaN  0.0      0.00         NaN
8 2019-04-22  NaN  0.0  -1124.64         NaN
9 2019-04-23  NaN  0.0      0.00         NaN

In [279]:
tmp_dataframe = data[data['日期']==date_list[0]]

In [284]:
sum(data[data.操作.isin(out_ls)]['发生金额'])

-2067616.660000001

把 融资买入 当作in

In [292]:
in_ls = [ '融资买入',]

In [293]:
data[data['操作']=='融资买入']

,level_0,index,日期,债券名称,委托编号,成交数量,成交均价,成交金额,佣金,印花税,过户费,发生金额,后资金额,股东帐户,操作,成交时间,成交编号,交易市场,Unnamed: 16,证券代码
10,10,10,2020-05-18,兴业银行,7580,3300,16.02,52866.0,15.86,0.0,1.06,-52882.92,12479.94,E055938193,融资买入,13:04:37,1.08515e+07,上海Ａ股,NaN,601166
12,12,12,2020-05-18,中国建筑,10520,10000,5.12,51200.0,15.36,0.0,1.02,-51216.38,356.28,E055938193,融资买入,14:43:36,1.64915e+07,上海Ａ股,NaN,601668
16,16,17,2020-05-19,中国建筑,1860,6000,5.13,30780.0,9.23,0.0,0.61,-30789.84,356.28,E055938193,融资买入,09:43:55,2.44567e+06,上海Ａ股,NaN,601668
35,36,43,2020-05-29,伊利股份,8473,500,28.35,14175.0,5.00,0.0,0.28,-14180.28,8732.97,E055938193,融资买入,14:30:21,1.33552e+07,上海Ａ股,NaN,600887
68,69,76,2020-06-05,中国建筑,2310,3800,5.03,19114.0,5.73,0.0,0.38,-19120.11,1403.12,E055938193,融资买入,09:55:30,3785667,上海Ａ股,NaN,601668
78,79,86,2020-06-08,建设银行,6657,2400,6.42,15408.0,5.00,0.0,0.31,-15413.31,14973.33,E055938193,融资买入,11:08:46,9200870,上海Ａ股,NaN,601939
87,88,96,2020-06-11,中国建筑,9916,3000,5.01,15030.0,5.00,0.0,0.30,-15035.30,777.77,E055938193,融资买入,14:21:24,15203497,上海Ａ股,NaN,601668
88,89,97,2020-06-11,兴业银行,9940,900,15.83,14247.0,5.00,0.0,0.28,-14252.28,777.77,E055938193,融资买入,14:22:01,15237312,上海Ａ股,NaN,601166
97,98,107,2020-06-15,兴业银行,4317,1100,15.72,17292.0,5.19,0.0,0.35,-17297.54,6652.32,E055938193,融资买入,10:22:37,6501132,上海Ａ股,NaN,601166
126,127,137,2020-06-18,兴业银行,1501,1400,15.57,21798.0,6.54,0.0,0.44,-21804.98,977.97,E055938193,融资买入,09:36:17,1436683,上海Ａ股,NaN,601166
142,143,153,2020-06-22,中国建筑,6044,3800,5.03,19114.0,5.73,0.0,0.38,-19120.11,368.53,E055938193,融资买入,10:42:18,9506472,上海Ａ股,NaN,601668
275,276,290,2020-07-29,工商银行,6883,4100,4.98,20418.0,6.13,0.0,0.41,-20424.54,110597.88,E055938193,融资买入,10:06:08,6618883,上海Ａ股,NaN,601398
277,278,292,2020-07-29,农业银行,6967,6200,3.23,20026.0,6.01,0.0,0.40,-20032.41,90411.43,E055938193,融资买入,13:10:35,15217508,上海Ａ股,NaN,601288
384,385,401,2020-09-18,建设银行,8137,3000,6.17,18510.0,5.55,0.0,0.37,-18515.92,97663.29,E055938193,融资买入,10:54:29,7.75335e+06,上海Ａ股,NaN,601939
388,389,405,2020-09-18,中国石化,8168,4000,3.94,15760.0,5.00,0.0,0.31,-15765.31,73224.07,E055938193,融资买入,11:14:24,8.62636e+06,上海Ａ股,NaN,600028
389,390,406,2020-09-18,大秦铁路,8091,3100,6.44,19964.0,5.99,0.0,0.40,-19970.39,73224.07,E055938193,融资买入,11:18:33,8.85663e+06,上海Ａ股,NaN,601006
391,392,408,2020-09-18,兴业银行,9129,1000,16.17,16170.0,5.00,0.0,0.32,-16175.32,94218.37,E055938193,融资买入,11:23:19,9.09051e+06,上海Ａ股,NaN,601166
393,394,410,2020-09-18,中国银行,13213,6000,3.22,19320.0,5.80,0.0,0.39,-19326.19,89093.34,E055938193,融资买入,14:52:57,1.93707e+07,上海Ａ股,NaN,601988
408,409,425,2020-09-23,中国建筑,6789,3600,5.14,18504.0,5.55,0.0,0.37,-18509.92,52407.79,E055938193,融资买入,10:39:24,6.22592e+06,上海Ａ股,NaN,601668
443,444,460,2020-10-16,中国建筑,5661,3800,5.11,19418.0,5.83,0.0,0.39,-19424.22,17535.80,E055938193,融资买入,10:30:41,6118957,上海Ａ股,NaN,601668
444,445,461,2020-10-16,中国化学,7420,3200,5.43,17376.0,5.21,0.0,0.35,-17381.56,17535.80,E055938193,融资买入,11:17:35,8817665,上海Ａ股,NaN,601117
449,450,466,2020-10-21,上海电气,4416,3500,5.17,18095.0,5.43,0.0,0.36,-18100.79,19804.91,E055938193,融资买入,10:17:29,5693238,上海Ａ股,NaN,601727

In [294]:
for i in range(len(date_list)):
    tmp_dataframe = data[data['日期']==date_list[i]]
    nav_data.loc[i,'in'] = -sum(tmp_dataframe[
        tmp_dataframe.操作.isin(in_ls)]['发生金额'])

In [295]:
nav_data

         date cash         in  out hold_shares
0  2020-05-15  NaN       0.00  0.0         NaN
1  2020-05-18  NaN  104099.30  0.0         NaN
2  2020-05-19  NaN   30789.84  0.0         NaN
3  2020-05-20  NaN       0.00  0.0         NaN
4  2020-05-21  NaN       0.00  0.0         NaN
..        ...  ...        ...  ...         ...
92 2020-10-26  NaN       0.00  0.0         NaN
93 2020-10-27  NaN       0.00  0.0         NaN
94 2020-10-28  NaN       0.00  0.0         NaN
95 2020-10-29  NaN       0.00  0.0         NaN
96 2020-10-30  NaN       0.00  0.0         NaN

[97 rows x 5 columns]

计算cash

In [296]:
for i in range(len(date_list)):
    nav_data.loc[i,'cash'] = data[data['日期'] == date_list[i]].iloc[-1]['后资金额']

In [297]:
nav_data

         date     cash         in  out hold_shares
0  2020-05-15        0       0.00  0.0         NaN
1  2020-05-18   356.28  104099.30  0.0         NaN
2  2020-05-19   356.28   30789.84  0.0         NaN
3  2020-05-20   603.92       0.00  0.0         NaN
4  2020-05-21    13309       0.00  0.0         NaN
..        ...      ...        ...  ...         ...
92 2020-10-26  61705.9       0.00  0.0         NaN
93 2020-10-27   101897       0.00  0.0         NaN
94 2020-10-28  68435.6       0.00  0.0         NaN
95 2020-10-29     15.7       0.00  0.0         NaN
96 2020-10-30   487.13       0.00  0.0         NaN

[97 rows x 5 columns]

计算仓位

In [268]:
data['证券代码'] = data['证券代码'].apply(str)

In [298]:
dic ={}
origin_dic={}
i=0
flag=True
nav_data['hold_shares'] = np.nan
while i < len(date_list):
    # if i==223:
    #     print(i)
    # print(i)
    if i==0:
        flag=True
    tmp = data[data['日期'] == date_list[i]]
    for j in range(len(tmp)):
        item = tmp.iloc[j]
        if len(item['证券代码'])==6:
            dic.setdefault(item['证券代码'],0)
            dic[item['证券代码']]+=item['成交数量']
            if dic[item['证券代码']]<0:
                origin_dic.setdefault(item['证券代码'],0)
                origin_dic[item['证券代码']]+=(-(dic[item['证券代码']]))
                #origin_dic[item['证券代码']] = -(dic[item['证券代码']])
                #print(str(origin_dic))
                nav_data.loc[0,'hold_shares'] = str(origin_dic)
                i=0
                dic=origin_dic
                flag=False
                break
    if flag:
        dic = {key:val for key, val in dic.items() if val != 0.}
        #print(dic)
        nav_data.loc[i,'hold_shares'] = str(dic)
        i+=1

In [299]:
eval(nav_data.loc[0,'hold_shares'])

{'113576': 630,
 '113524': 120,
 '113026': 120,
 '113017': 180,
 '113016': 150,
 '110045': 100,
 '128062': 310,
 '127003': 390,
 '128033': 210}

In [300]:
nav_data

,date,cash,in,out,hold_shares
0,2020-05-15,0,0.00,0.0,"{'113576': 630, '113524': 120, '113026': 120, ..."
1,2020-05-18,356.28,104099.30,0.0,"{'113576': 630, '113524': 120, '113017': 300, ..."
2,2020-05-19,356.28,30789.84,0.0,"{'113576': 630, '113524': 120, '113017': 300, ..."
3,2020-05-20,603.92,0.00,0.0,"{'113576': 630, '113524': 120, '113017': 300, ..."
4,2020-05-21,13309,0.00,0.0,"{'113576': 630, '113524': 120, '113017': 140, ..."
...,...,...,...,...,...
92,2020-10-26,61705.9,0.00,0.0,"{'113017': 160, '128033': 430, '128100': 2150,..."
93,2020-10-27,101897,0.00,0.0,"{'113017': 160, '128033': 230, '128100': 2150,..."
94,2020-10-28,68435.6,0.00,0.0,"{'113017': 160, '128033': 230, '128100': 2150,..."
95,2020-10-29,15.7,0.00,0.0,"{'113017': 160, '128033': 530, '128100': 2150,..."
96,2020-10-30,487.13,0.00,0.0,"{'113017': 160, '128033': 530, '128100': 2150,..."

# akshare获取仓位单价数据

In [272]:
import akshare as ak

In [415]:
sp_ls = list(data[data['操作']=='新股申购确认']['证券代码'])

In [534]:
xgsg_ls = []
for i in sp_ls:
    if len(bond_zh_cov_df[bond_zh_cov_df['申购代码'] == i])==0:
        xgsg_ls.append(i)

In [537]:
xgsg_match_ls=[]
for i in xgsg_ls:
    xgsg_match_ls.append(stock_em_xgsglb_df[stock_em_xgsglb_df['申购代码']==i]['股票代码'].iloc[0])
xgsg_match_ls

['688228', '688599']

In [274]:
nav_data[nav_data['date']==pd.to_datetime('20200525')]

,date,cash,in,out,hold_shares
6,2020-05-25,1551.06,0.0,0.0,"{'113576': 630, '113524': 120, '113017': 260, ..."

In [275]:
tmp_hs = eval(nav_data.loc[6,'hold_shares'])
tmp_hs

{'113576': 630,
 '113524': 120,
 '113017': 260,
 '113016': 150,
 '110045': 100,
 '128062': 310,
 '127003': 390,
 '128033': 350,
 '601166': 3300,
 '601668': 16000,
 '113008': 250,
 '110066': 330,
 '110033': 100,
 '113527': 470,
 '123004': 160,
 '128015': 100,
 '128100': 580,
 '128023': 350,
 '600918': 1000}

In [279]:
tmp_date = nav_data.loc[j,'date']
tmp_date

Timestamp('2020-05-25 00:00:00')

In [304]:
bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol='sh600918')
bond_zh_hs_cov_daily_df

             open   high    low  close       volume
date
2020-06-03   5.26   6.31   5.26   6.31    2866574.0
2020-06-04   6.94   6.94   6.94   6.94     903254.0
2020-06-05   7.63   7.63   7.63   7.63    1413685.0
2020-06-08   8.39   8.39   8.39   8.39    1464402.0
2020-06-09   9.23   9.23   9.23   9.23    7559753.0
...           ...    ...    ...    ...          ...
2020-11-30  16.22  17.50  16.00  16.64  198794086.0
2020-12-01  16.22  18.28  16.18  17.49  190000953.0
2020-12-02  17.28  18.02  17.00  17.34  143444388.0
2020-12-03  17.11  17.48  16.72  16.90   91812001.0
2020-12-04  16.65  16.88  16.20  16.57   66642819.0

[125 rows x 5 columns]

In [310]:
nav_ls=[]
for j in range(len(nav_data)):
    tmp_hs = eval(nav_data.loc[j,'hold_shares'])
    tmp_date = nav_data.loc[j,'date']
    sum0=0
    print(tmp_date)
    for i,v in tmp_hs.items():
        if i in xgsg_match_ls:
            if i[:2] in ['11','68','60']:
                stock_name = 'sh'+i
            if i[:2] in ['12','00']:
                stock_name='sz'+i
            bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol=stock_name)
            if tmp_date>=bond_zh_hs_cov_daily_df.index[0]:
                unit_price = bond_zh_hs_cov_daily_df.loc[bond_zh_hs_cov_daily_df.index<=tmp_date,'close'].iloc[-1]
            else:
                unit_price = stock_em_xgsglb_df[stock_em_xgsglb_df['股票代码']==i]['发行价格'].iloc[0]
            sum0+=v*unit_price
        else:
            if i[:2] in ['11','68','60','51']:
                stock_name = 'sh'+i
            if i[:2] in ['12','00']:
                stock_name='sz'+i
            bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol=stock_name)
            if tmp_date>=bond_zh_hs_cov_daily_df.index[0]:
                unit_price = bond_zh_hs_cov_daily_df.loc[bond_zh_hs_cov_daily_df.index<=tmp_date,'close'].iloc[-1]
            else:
                if i=='600918':
                    unit_price = 4.380
                else:
                    unit_price = bond_zh_cov_df[bond_zh_cov_df['债券代码'] == i]['发行价格'].iloc[0]
        sum0+=v*unit_price
    nav_ls.append(sum0)

2020-05-15 00:00:00
2020-05-18 00:00:00
2020-05-19 00:00:00
2020-05-20 00:00:00
2020-05-21 00:00:00
2020-05-22 00:00:00
2020-05-25 00:00:00
2020-05-29 00:00:00
2020-06-01 00:00:00
2020-06-02 00:00:00
2020-06-03 00:00:00
2020-06-04 00:00:00
2020-06-05 00:00:00
2020-06-08 00:00:00
2020-06-09 00:00:00
2020-06-11 00:00:00
2020-06-12 00:00:00
2020-06-15 00:00:00
2020-06-16 00:00:00
2020-06-17 00:00:00
2020-06-18 00:00:00
2020-06-19 00:00:00
2020-06-22 00:00:00
2020-06-23 00:00:00
2020-06-24 00:00:00
2020-07-03 00:00:00
2020-07-06 00:00:00
2020-07-07 00:00:00
2020-07-08 00:00:00
2020-07-09 00:00:00
2020-07-10 00:00:00
2020-07-13 00:00:00
2020-07-14 00:00:00
2020-07-15 00:00:00
2020-07-16 00:00:00
2020-07-17 00:00:00
2020-07-20 00:00:00
2020-07-21 00:00:00
2020-07-23 00:00:00
2020-07-24 00:00:00
2020-07-27 00:00:00
2020-07-28 00:00:00
2020-07-29 00:00:00
2020-07-30 00:00:00
2020-07-31 00:00:00
2020-08-03 00:00:00
2020-08-04 00:00:00
2020-08-05 00:00:00
2020-08-06 00:00:00
2020-08-07 00:00:00
2020-08-10 00:00:00
2020-08-11 00:00:00
2020-08-12 00:00:00
2020-08-13 00:00:00
2020-08-14 00:00:00
2020-08-17 00:00:00
2020-08-18 00:00:00
2020-08-19 00:00:00
2020-08-20 00:00:00
2020-08-21 00:00:00
2020-08-25 00:00:00
2020-08-26 00:00:00
2020-08-27 00:00:00
2020-08-28 00:00:00
2020-08-31 00:00:00
2020-09-02 00:00:00
2020-09-03 00:00:00
2020-09-04 00:00:00
2020-09-07 00:00:00
2020-09-08 00:00:00
2020-09-09 00:00:00
2020-09-10 00:00:00
2020-09-11 00:00:00
2020-09-16 00:00:00
2020-09-17 00:00:00
2020-09-18 00:00:00
2020-09-21 00:00:00
2020-09-22 00:00:00
2020-09-23 00:00:00
2020-09-24 00:00:00
2020-09-25 00:00:00
2020-09-29 00:00:00
2020-09-30 00:00:00
2020-10-09 00:00:00
2020-10-13 00:00:00
2020-10-14 00:00:00
2020-10-15 00:00:00
2020-10-16 00:00:00
2020-10-20 00:00:00
2020-10-21 00:00:00
2020-10-22 00:00:00
2020-10-23 00:00:00
2020-10-26 00:00:00
2020-10-27 00:00:00
2020-10-28 00:00:00
2020-10-29 00:00:00
2020-10-30 00:00:00

In [311]:
nav_data['hold_shares_value'] = pd.Series(nav_ls)

In [622]:
nav_data.to_csv('/Users/lanruitong/Desktop/nav_data.csv')

In [2]:
nav_data = pd.read_csv('/Users/lanruitong/Desktop/nav_data.csv')

In [312]:
nav_data['rtn'] = np.nan

In [316]:
nav_data.head(10)

,date,cash,in,out,hold_shares,hold_shares_value,rtn
0,2020-05-15,0,0.00,0.0,"{'113576': 630, '113524': 120, '113026': 120, ...",224635.26,NaN
1,2020-05-18,356.28,104099.30,0.0,"{'113576': 630, '113524': 120, '113017': 300, ...",457504.60,0.574827
2,2020-05-19,356.28,30789.84,0.0,"{'113576': 630, '113524': 120, '113017': 300, ...",487569.65,-0.001583
3,2020-05-20,603.92,0.00,0.0,"{'113576': 630, '113524': 120, '113017': 300, ...",485914.96,-0.002884
4,2020-05-21,13309,0.00,0.0,"{'113576': 630, '113524': 120, '113017': 140, ...",472372.17,-0.001722
5,2020-05-22,5931.06,0.00,0.0,"{'113576': 630, '113524': 120, '113017': 260, ...",589269.67,0.225497
6,2020-05-25,1551.06,0.00,0.0,"{'113576': 630, '113524': 120, '113017': 260, ...",591342.93,-0.003876
7,2020-05-29,572,14180.28,0.0,"{'113576': 630, '113524': 120, '113017': 140, ...",712851.07,0.179372
8,2020-06-01,467.51,0.00,0.0,"{'113576': 630, '113524': 120, '113017': 140, ...",719629.89,0.009355
9,2020-06-02,639.65,0.00,0.0,"{'113576': 630, '113524': 120, '113017': 140, ...",1004597.47,0.395974

In [314]:
for i in range(1,len(nav_data)):
    value1 = nav_data.loc[i,'cash']+nav_data.loc[i,'hold_shares_value']-(nav_data.loc[i,'in']+nav_data.loc[i,'out'])
    value0 = nav_data.loc[i-1,'cash']+nav_data.loc[i-1,'hold_shares_value']
    nav_data.loc[i,'rtn'] = (value1-value0)/value0

In [317]:
nav_data.to_csv('/Users/lanruitong/Desktop/nav_data_信用.csv')

In [588]:
tmp_hs = eval(nav_data.loc[179,'hold_shares'])
tmp_date = nav_data.loc[179,'date']

In [589]:
tmp_date

Timestamp('2020-03-18 00:00:00')

In [55]:
bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol='sz128128')
bond_zh_hs_cov_daily_df

               open     high      low    close      volume
date
2020-09-15  126.000  126.000  106.280  107.700  39266583.0
2020-09-16  107.693  110.580  107.692  108.300   7087948.0
2020-09-17  108.600  109.171  106.800  107.467   2407901.0
2020-09-18  107.550  108.888  107.502  108.600   1646846.0
2020-09-21  108.000  109.542  107.910  108.565    955561.0
2020-09-22  107.998  108.000  101.800  102.120   7067277.0
2020-09-23  102.680  102.870  101.551  101.987   2635998.0
2020-09-24  101.630  102.300  101.583  101.800   1279177.0
2020-09-25  102.000  102.190  101.600  101.811    831330.0
2020-09-28  102.041  102.200   99.830   99.879   1373779.0
2020-09-29  100.000  101.200   99.939  100.938    754264.0
2020-09-30  100.938  101.243  100.400  100.660    655223.0
2020-10-09  100.900  102.393  100.900  101.711    770589.0
2020-10-12  103.200  105.439  102.980  105.000   2719137.0
2020-10-13  105.000  105.712  104.120  105.500   1614939.0
2020-10-14  105.480  106.432  105.050  106.224   1189017.0
2020-10-15  106.010  106.939  106.001  106.710    719398.0
2020-10-16  106.720  106.800  105.170  105.700    512143.0
2020-10-19  105.700  107.372  105.700  105.911    785870.0
2020-10-20  105.900  106.828  105.360  106.643    441085.0
2020-10-21  106.890  107.357  106.120  106.913    377276.0
2020-10-22  107.001  107.437  106.364  107.000    780284.0
2020-10-23  106.903  108.187  106.800  106.811    978002.0
2020-10-26  107.133  108.247  105.415  105.842   1128948.0
2020-10-27  105.842  106.880  105.442  106.003    799742.0
2020-10-28  106.003  108.520  106.001  107.989   1328511.0
2020-10-29  107.091  108.227  107.091  107.320    511378.0
2020-10-30  107.401  108.380  106.660  107.744    615778.0
2020-11-02  107.500  108.447  107.000  107.350    667009.0
2020-11-03  107.350  108.189  106.653  108.006    460180.0
2020-11-04  108.116  108.330  107.520  107.960    343195.0
2020-11-05  108.323  109.499  107.960  108.987    525806.0
2020-11-06  108.987  109.330  108.348  108.961    322248.0
2020-11-09  108.966  110.658  108.966  109.941    512889.0
2020-11-10  109.981  110.460  109.700  109.900    498962.0
2020-11-11  109.900  110.888  109.801  109.999    677018.0
2020-11-12  110.700  112.200  110.030  112.045   1148946.0
2020-11-13  112.022  112.200  109.660  110.185    905923.0
2020-11-16  110.297  112.840  110.297  112.700   1092517.0
2020-11-17  112.702  114.399  112.552  112.759   1325580.0
2020-11-18  112.750  113.499  112.224  112.788    517797.0
2020-11-19  112.790  113.200  111.372  111.577    824168.0
2020-11-20  111.598  112.325  111.514  112.000   1074810.0
2020-11-23  112.113  114.444  111.902  114.098   1115176.0
2020-11-24  113.940  119.800  113.773  118.116   3717288.0
2020-11-25  118.588  119.495  116.620  117.400   1686120.0
2020-11-26  117.000  117.810  113.487  113.647   1395683.0
2020-11-27  113.647  115.440  113.000  114.200    970844.0
2020-11-30  115.099  117.310  113.500  113.799   1615143.0
2020-12-01  114.900  114.950  113.113  113.400    697010.0
2020-12-02  113.480  113.793  112.400  112.500    653887.0
2020-12-03  112.511  112.990  110.700  110.984    550812.0

In [590]:
tmp_hs

{'113012': 100.0,
 '123010': 360.0,
 '128043': 440.0,
 '128012': 2680.0,
 '128015': 150.0,
 '110066': 100.0,
 '113528': 150.0,
 '128022': 400.0,
 '127003': 628.0,
 '128062': 230.0,
 '601668': 18900.0,
 '128013': 300.0,
 '601166': 3900.0,
 '601288': 10000.0,
 '600028': 3500.0,
 '113032': 10.0,
 '110033': 660.0,
 '600887': 500.0,
 '510300': 10000.0,
 '110067': 10.0,
 '128100': 10.0,
 '510050': 11000.0}

In [609]:
unit_price = bond_zh_cov_df[bond_zh_cov_df['债券代码'] == '601668']['发行价格'].iloc[0]
unit_price

IndexError: single positional indexer is out-of-bounds

In [ ]:
bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol='sz510050')

In [575]:
bond_zh_hs_cov_daily_df.index

DatetimeIndex(['2018-08-27', '2018-08-28', '2018-08-29', '2018-08-30',
               '2018-08-31', '2018-09-03', '2018-09-04', '2018-09-05',
               '2018-09-06', '2018-09-07',
               ...
               '2020-09-25', '2020-09-28', '2020-09-29', '2020-09-30',
               '2020-10-09', '2020-10-12', '2020-10-13', '2020-10-14',
               '2020-10-15', '2020-10-16'],
              dtype='datetime64[ns]', name='date', length=506, freq=None)

In [577]:
bond_zh_hs_cov_daily_df.loc[bond_zh_hs_cov_daily_df.index<=tmp_date,'close'].iloc[-1]

114.09

In [572]:
bond_zh_hs_cov_daily_df[
    (bond_zh_hs_cov_daily_df.index>=pd.to_datetime('20190407'))&
    (bond_zh_hs_cov_daily_df.index<=pd.to_datetime('20190520'))]

               open     high      low    close     volume
date
2019-04-08  116.720  117.738  115.600  116.200    77561.0
2019-04-09  116.200  116.200  115.010  115.181    31768.0
2019-04-10  115.000  115.000  113.403  114.090    42703.0
2019-04-25  125.499  198.000  125.499  171.811  1782377.0
2019-04-26  179.990  198.899  172.651  195.900  2057370.0
2019-04-29  198.590  208.650  182.000  186.150  2361170.0
2019-04-30  193.000  199.990  186.151  199.990  2229262.0
2019-05-06  205.000  215.400  197.000  212.022  3625912.0
2019-05-07  211.500  213.666  165.150  180.011  7224114.0
2019-05-08  168.004  192.900  164.010  164.010  3870151.0
2019-05-09  163.890  167.500  152.700  153.001  2098116.0
2019-05-10  158.880  169.000  155.010  157.800  2610291.0
2019-05-13  156.180  160.000  152.800  154.000   672504.0
2019-05-14  153.600  157.800  150.014  150.400   579010.0
2019-05-15  153.505  160.300  150.552  153.480  1390102.0
2019-05-16  156.220  165.888  152.500  161.150  1836919.0
2019-05-17  166.000  169.500  153.800  155.400  2254378.0
2019-05-20  154.000  154.500  143.897  146.880   630137.0

In [556]:
bond_zh_hs_cov_daily_df.loc[pd.to_datetime('20190410')]['close']

114.09

In [529]:
stock_em_xgsglb_df[stock_em_xgsglb_df['股票代码']=='688228']['发行价格'].iloc[0]

59.26

In [544]:
sum0 = 0
for i,v in tmp_hs.items():
    if i[:2] in ['11','68','60']:
        stock_name = 'sh'+i
    if i[:2] in ['12','00']:
        stock_name='sz'+i
    bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol=stock_name)
    if tmp_date>=bond_zh_hs_cov_daily_df.index[0]:
        unit_price = bond_zh_hs_cov_daily_df.loc[tmp_date,'close']
    else:
        unit_price = bond_zh_cov_df[bond_zh_cov_df['债券代码'] == i]['发行价格'].iloc[0]
    sum0+=v*unit_price
sum0

KeyError: Timestamp('2019-04-11 00:00:00')

In [59]:
data[data['证券代码']=='791077']

,日期,流水号,证券代码,证券名称,操作,发生金额,后资金额,摘要,成交数量,成交均价,成交金额,交易市场,股东帐户,货币单位,备注,Unnamed: 15
390,2019-10-14,100373113,791077,渝农配号,申购配号,0.0,7.0,申购配号,1.0,0.0,0.0,上海Ａ股,A400231155,人民币,起始配号:100023554797,NaN

In [613]:
data[data['证券代码']=='510300']

,index,日期,流水号,证券代码,证券名称,操作,发生金额,后资金额,摘要,成交数量,成交均价,成交金额,交易市场,股东帐户,货币单位,备注,Unnamed: 15
742,944,2020-03-13,82407,510300,300ETF,证券买入,-37660.71,51999.19,证券买入,10000.0,3.765,0.0,上海Ａ股,A400231155,人民币,证券买入,NaN
828,1045,2020-03-20,66174,510300,300ETF,证券卖出,35931.01,-77893.80,证券卖出,-10000.0,3.594,0.0,上海Ａ股,A400231155,人民币,证券卖出,NaN

In [72]:
bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol="sz000597")
print(bond_zh_hs_cov_daily_df)

            open  high   low  close      volume
date
1996-05-23  6.90  7.18  6.73   6.81  18756400.0
1996-05-24  6.72  6.85  6.69   6.72   4932600.0
1996-05-27  6.75  6.82  6.46   6.49   2323600.0
1996-05-28  6.50  6.58  6.40   6.48   1808100.0
1996-05-29  6.48  6.73  6.48   6.68   2110200.0
...          ...   ...   ...    ...         ...
2020-11-27  5.77  5.84  5.71   5.75   4244177.0
2020-11-30  5.75  5.78  5.67   5.72   3264587.0
2020-12-01  5.68  5.79  5.66   5.70   5190261.0
2020-12-02  5.70  5.74  5.63   5.66   5065185.0
2020-12-03  5.62  5.67  5.59   5.62   4676655.0

[5830 rows x 5 columns]

In [427]:
bond_zh_hs_cov_daily_df.loc[pd.to_datetime('20200610'),'close']

17.21

In [45]:
bond_zh_cov_df = ak.bond_zh_cov()

In [498]:
bond_zh_cov_df[bond_zh_cov_df['债券代码'] == '110066']

,债券代码,交易场所,债券简称,申购日期,申购代码,正股代码,正股简称,债券面值,发行价格,转股价,...,备忘录,正股价,市场类型,股权登记日,申购上限,转股价值,债现价,转股溢价率,每股配售额,发行规模
158,110066,CNSESH,盛屯转债,2020-03-02T00:00:00,733711,600711,盛屯矿业,100.0,100.0,4.92,...,"本次发行的可转债向发行人在股权登记日(2020年2月28日,T-1日)收市后中国结算上海分公...",6.11,1,2020-02-28T00:00:00,100,125.2049,134,7.02,1.033,23.86456

In [317]:
stock_em_xgsglb_df = ak.stock_em_xgsglb(market="科创板")

In [531]:
stock_em_xgsglb_df[stock_em_xgsglb_df['申购代码']=='787599']['股票代码'].iloc[0]

'688599'

In [ ]:
data[data['操作']=='新股申购确认']

In [409]:
tmp=nav_data[(nav_data['date']>=pd.to_datetime('20200327'))]

In [411]:
tmp.iloc[0]['hold_shares']

"{'123010': 2520.0, '128043': 3080.0, '128012': 12820.0, '110067': 10.0, '128100': 10.0, '113012': 100.0, '128015': 150.0, '110066': 100.0, '123049': 10.0, '113528': 350.0, '128022': 450.0, '688599': 500.0, '754658': 10.0, '754833': 10.0, '370677': 10.0, '072228': 10.0, '072615': 10.0, '370655': 20.0, '601668': 19100.0, '733000': 30.0, '754688': 10.0, '370296': 10.0, '754861': 10.0, '072745': 10.0, '072083': 20.0, '733939': 20.0, '754690': 10.0, '754901': 10.0, '072851': 10.0, '370059': 10.0, '072701': 10.0, '601166': 3900.0, '601288': 10000.0, '600028': 3500.0, '733711': 10.0, '783233': 10.0, '733909': 10.0, '072503': 10.0, '787228': 500.0, '113008': 500.0, '113016': 200.0, '110033': 250.0, '127003': 500.0, '128062': 200.0, '123019': 300.0}"

In [2]:
# combine

In [2]:
nav_data = pd.read_csv('/Users/lanruitong/Desktop/天府对冲基金/dataset/combine.csv')
nav_data

,Unnamed: 0,date,cash,in,out,hold_shares
0,0,2019/4/9,715.51,70000.00,0.00,"{'113012': 100.0, '123010': 450.0, '128043': 5..."
1,1,2019/4/10,1.00,90000.00,-70778.52,"{'113012': 100.0, '123010': 450.0, '128043': 5..."
2,2,2019/4/11,5.00,104497.78,0.00,"{'113012': 100.0, '123010': 570.0, '128043': 5..."
3,3,2019/4/12,0.00,0.00,-5.00,"{'113012': 100.0, '123010': 570.0, '128043': 5..."
4,4,2019/4/16,1.00,158.21,0.00,"{'113012': 100.0, '123010': 570.0, '128043': 5..."
...,...,...,...,...,...,...
301,301,2020/10/26,61705.90,0.00,-3.57,"{'123010': 360.0, '128043': 440.0, '128012': 2..."
302,302,2020/10/27,101897.02,0.00,-3.57,"{'123010': 360.0, '128043': 440.0, '128012': 2..."
303,303,2020/10/28,68435.62,0.00,-3.57,"{'123010': 360.0, '128043': 440.0, '128012': 2..."
304,304,2020/10/29,15.70,0.00,-3.57,"{'123010': 360.0, '128043': 440.0, '128012': 2..."
305,305,2020/10/30,487.13,0.00,-3.57,"{'123010': 360.0, '128043': 440.0, '128012': 2..."

In [3]:
nav_data.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
nav_data['date'] = pd.to_datetime(nav_data['date'])

In [29]:
nav_data[nav_data['date'] == pd.to_datetime('20200401')]

,date,cash,in,out,hold_shares,hold_shares_value,rtn
183,2020-04-01,1.0,0.0,-150.3,"{'113012': 100.0, '123010': 360.0, '128043': 4...",956226.02,-0.206372

In [26]:
tmp_hs = eval(nav_data.loc[182,'hold_shares'])
tmp_date = nav_data.loc[182,'date']

In [27]:
tmp_date

Timestamp('2020-03-23 00:00:00')

In [28]:
tmp_hs

{'113012': 100.0,
 '123010': 360.0,
 '128043': 440.0,
 '128012': 2260.0,
 '128015': 150.0,
 '110066': 100.0,
 '113528': 350.0,
 '128022': 450.0,
 '601668': 19100.0,
 '601166': 3900.0,
 '601288': 10000.0,
 '600028': 3500.0,
 '110067': 10.0,
 '128100': 10.0,
 '688228': 500.0,
 '113008': 500.0,
 '113016': 200.0,
 '110033': 250.0,
 '127003': 500.0,
 '128062': 200.0,
 '123019': 300.0}

In [10]:
len(nav_ls)

296

In [11]:
# bond_zh_cov_df = ak.bond_zh_cov()
# stock_em_xgsglb_df = ak.stock_em_xgsglb(market="科创板")
# nav_ls=[]
xgsg_match_ls = ['688228', '688599']
for j in range(296,len(nav_data)):
    tmp_hs = eval(nav_data.loc[j,'hold_shares'])
    tmp_date = nav_data.loc[j,'date']
    sum0=0
    print(tmp_date)
    for i,v in tmp_hs.items():
        if i in xgsg_match_ls:
            if i[:2] in ['11','68','60']:
                stock_name = 'sh'+i
            if i[:2] in ['12','00','15']:
                stock_name='sz'+i
            bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol=stock_name)
            if tmp_date>=bond_zh_hs_cov_daily_df.index[0]:
                unit_price = bond_zh_hs_cov_daily_df.loc[bond_zh_hs_cov_daily_df.index<=tmp_date,'close'].iloc[-1]
            else:
                unit_price = stock_em_xgsglb_df[stock_em_xgsglb_df['股票代码']==i]['发行价格'].iloc[0]
            sum0+=v*unit_price
        else:
            if i[:2] in ['11','68','60','51']:
                stock_name = 'sh'+i
            if i[:2] in ['12','00','15']:
                stock_name='sz'+i
            bond_zh_hs_cov_daily_df = ak.bond_zh_hs_cov_daily(symbol=stock_name)
            if tmp_date>=bond_zh_hs_cov_daily_df.index[0]:
                unit_price = bond_zh_hs_cov_daily_df.loc[bond_zh_hs_cov_daily_df.index<=tmp_date,'close'].iloc[-1]
            else:
                if i=='600918':
                    unit_price = 4.380
                else:
                    unit_price = bond_zh_cov_df[bond_zh_cov_df['债券代码'] == i]['发行价格'].iloc[0]
            sum0+=v*unit_price
    nav_ls.append(sum0)

2020-10-16 00:00:00
2020-10-20 00:00:00
2020-10-21 00:00:00
2020-10-22 00:00:00
2020-10-23 00:00:00
2020-10-26 00:00:00
2020-10-27 00:00:00
2020-10-28 00:00:00
2020-10-29 00:00:00
2020-10-30 00:00:00

In [12]:
nav_data['hold_shares_value'] = pd.Series(nav_ls)

In [13]:
nav_data['rtn'] = np.nan

In [14]:
for i in range(1,len(nav_data)):
    value1 = nav_data.loc[i,'cash']+nav_data.loc[i,'hold_shares_value']-(nav_data.loc[i,'in']+nav_data.loc[i,'out'])
    value0 = nav_data.loc[i-1,'cash']+nav_data.loc[i-1,'hold_shares_value']
    nav_data.loc[i,'rtn'] = (value1-value0)/value0

In [15]:
nav_data.to_csv('/Users/lanruitong/Desktop/combine_rtn.csv')